*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "img1 img2 img3"
  "img1 img5 img3"
  "img4 img5 img6";
  gap: 6px;
  max-width: 800px;
  margin: 2rem auto;
}

body > section > img:nth-child(1){
  grid-area: img1;
}
body > section > img:nth-child(2){
  grid-area: img2;
}
body > section > img:nth-child(3){
  grid-area: img3;
}
body > section > img:nth-child(4){
  grid-area: img4;
}
body > section > img:nth-child(5){
  grid-area: img5;
}
body > section > img:nth-child(6){
  grid-area: img6;
}
